*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(15, 15, 15);
}
.container{
    position: relative;
    width:900;
    height: 100px;
    margin: 60px auto 0px auto;
    text-align: center;
}
#logo{
    margin: 0 auto;
}
.content{
    position: relative;
    height:400px;
    width: 900px;
    margin: 0 auto;
    background-image: linear-gradient(black);
}
.card_flipe{
    position: relative;
    background-image: url(img/Fliperama.jpg);
    background-repeat: no-repeat;
    width: 760px;
    height: 400px; 
    border-radius: 16px;
    margin: 20px auto 20px auto;
}
#flipe{
    position: absolute;
    top: 250px;
    left: 150px;
    font-family: Verdana;
    color: white;
    font-size: 35px;
    opacity: 0;
}
.content:hover .card_flipe{
    opacity: 40%;
    transition: 2s;
}
.content:hover #flipe{
    top: 300px;
    opacity: 100%;
    transition: 1s;
}
.paragrafo{
    font-family: Verdana;
    font-size: 15px;
    color:rgb(153, 153, 153);
    text-align: center;
    width: 700px;
    margin: 40px auto 40px auto;
}

